.header {
  margin: 2rem 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px !important;
}
.header h4 {
  text-align: right;
}
.btn_add {
  min-width: 150px;
  height: 45px;
  color: white;
  background: rgba(253, 1, 0, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: unset;
}

@media (max-width: 480px) {
  .header {
    margin: 1rem 0 !important;
  }
  .header h4 {
    font-size: 18px !important;
  }
  .btn_add {
    min-width: 100px;
    height: 35px;
    color: white;
    background: rgba(253, 1, 0, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: unset;
    font-size: 14px;
  }
}
